<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/templatemo-style.css">
</head>

<body>

<header th:insert="~{/blocks/header :: header}"></header>

<main>
  <header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">Добро пожаловать!</h2>
    <p class="col-12 text-center">Это мой крутой ресторан и тут очень вкусно</p>
  </header>

    <div class="tm-paging-links">
      <nav>
        <ul>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Пицца</a></li>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link">Салат</a></li>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link">Лапша</a></li>
        </ul>
      </nav>
    </div>

    <!-- Gallery -->
    <div class="row tm-gallery">
      <!-- gallery page 1 -->
      <div id="tm-gallery-page-пицца" class="tm-gallery-page">
        <div class="row">
          <div th:each="pizza : ${pizzas}" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
            <article>
              <figure>
                <img th:src="@{/static/${pizza.photo}}" alt="Image" class="img-fluid tm-gallery-img" />
                <figcaption>
                  <h4 class="tm-gallery-title" th:text="${pizza.heading}"></h4>
                  <p class="tm-gallery-description" th:text="${pizza.description}"></p>
                  <p class="tm-gallery-price" th:text="${pizza.price} + ' рублей'"></p>
                </figcaption>
              </figure>
            </article>
          </div>
        </div>
      </div>

      <!--
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/02.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article>
              <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                  <img src="/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                  <figcaption>
                    <h4 class="tm-gallery-title">Заголовок</h4>
                    <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
                    <p class="tm-gallery-price">100 руб.</p>
                  </figcaption>
                </figure>
              </article> -->

      <!-- gallery page 2 -->
      <div id="tm-gallery-page-салат" class="tm-gallery-page hidden">
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
      </div> <!-- gallery page 2 end -->

      <!-- gallery page 3 -->
      <div id="tm-gallery-page-лапша" class="tm-gallery-page hidden">
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>
        <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
          <figure>
            <img src="/img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title">Заголовок</h4>
              <p class="tm-gallery-description">Очень вкусное блюдо, из всякой всячины</p>
              <p class="tm-gallery-price">100 руб.</p>
            </figcaption>
          </figure>
        </article>

      </div> <!-- gallery page 3 end -->
    </div>
  </main>
  <footer class="tm-footer text-center">
  </footer>
</div>
<script src="/jquery.min.js"></script>
<script src="/parallax.min.js"></script>
<script>
		$(document).ready(function () {
			// Handle click on paging links
			$('.tm-paging-link').click(function (e) {
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>

</html>