<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/templatemo-style.css">
</head>

<body>

<header th:insert="~{/blocks/header :: header}"></header>

<main>
  <header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">Добро пожаловать!</h2>
    <p class="col-12 text-center">Это мой крутой ресторан и тут очень вкусно</p>
  </header>

    <div class="tm-paging-links">
      <nav>
        <ul>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Пицца</a></li>
          <li class="tm-paging-item"><a href="#" class="tm-paging-link">Салат</a></li>
          <!--<li class="tm-paging-item"><a href="#" class="tm-paging-link">Лапша</a></li>-->
        </ul>
      </nav>
    </div>

    <!-- Gallery -->
    <div class="row tm-gallery">
      <!-- gallery page 1 -->
      <div id="tm-gallery-page-пицца" class="tm-gallery-page">
        <div class="row">
          <div th:each="pizza : ${pizzas}" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
            <article>
              <figure>
                <img th:src="${pizza.photo}" alt="Image" class="img-fluid tm-gallery-img">
                <figcaption>
                  <h4 class="tm-gallery-title" th:text="${pizza.heading}"></h4>
                  <p class="tm-gallery-description" th:text="${pizza.description}"></p>
                  <p class="tm-gallery-price" th:text="${pizza.price} + ' рублей'"></p>
                </figcaption>
              </figure>
            </article>
          </div>
        </div>
      </div>

      <!-- gallery page 2 -->
      <div id="tm-gallery-page-салат" class="tm-gallery-page hidden">
        <div class="row">
          <div th:each="salad : ${salads}" class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        <article>
          <figure>
            <img th:src="${salad.photo}" alt="Image" class="img-fluid tm-gallery-img" />
            <figcaption>
              <h4 class="tm-gallery-title" th:text="${salad.heading}"></h4>
              <p class="tm-gallery-description" th:text="${salad.description}"></p>
              <p class="tm-gallery-price" th:text="${salad.price} + ' рублей'"></p>
            </figcaption>
          </figure>
        </article>
      </div>
      </div>
    </div>

    </div>
  <div class="bron">
  <section class="reservation-section">
    <h2>Забронировать стол</h2>
    <form class="reservation-form" action="/" method="post">
      <label for="first-name">Имя</label>
      <input type="text" id="first-name" name="first_name" required>

      <label for="last-name">Фамилия</label>
      <input type="text" id="last-name" name="last_name" required>

      <label for="phone">Номер телефона</label>
      <input type="tel" id="phone" name="phone" required>

      <button type="submit">Забронировать</button>
    </form>
    <errors>
      <th:block th:if="${errors != null}">
        <p th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
      </th:block>
    </errors>
  </section>
  </div>
  </main>
  <footer class="tm-footer text-center">
  </footer>
</div>
<script src="/jquery.min.js"></script>
<script src="/parallax.min.js"></script>
<script>
		$(document).ready(function () {
			// Handle click on paging links
			$('.tm-paging-link').click(function (e) {
				e.preventDefault();

				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>

</html>